* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #4a4e69;
  color: #f2e9e4;
  font-family: "Armata", sans-serif;
}
a {
  text-decoration: none;
  color: #f2e9e4;
  display: inline-block;
  font-family: "Armata", sans-serif;
}
section {
  height: 40rem;
  padding: 5%;
}
nav {
  background-image: url("BarBig.png");
  position: fixed;
}
.bar {
  max-width: 100%;
}
.title {
  position: absolute;
  top: 25%;
  left: 5%;
  max-width: 6ch;
}
.subtitle {
  line-height: 5ch;
  font-size: 1ch;
}
.navigator {
  position: absolute;
  top: 15%;
  left: 50%;
}
.wrapper {
  display: flex;
  max-width: 100%;
}
.loco {
  max-width: 30%;
}
.text {
  text-indent: 2ch;
  padding: 5%;
}
